version: "3.9"

services:
  db:
    image: postgres:17
    container_name: echofield_db
    restart: always
    env_file:
      - .env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  web:
    build: .
    image: echofield-web
    container_name: echofield_web
    command: uv run gunicorn echofield.wsgi:application --bind 0.0.0.0:8000 --workers 2
    env_file:
      - .env
    depends_on:
      - db
    restart: always
    ports:
      - "8000:8000"

volumes:
  postgres_data:
