{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" data-theme="macchiato">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}EchoField{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'blog/themes.css' %}">
  <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
  {% include "partials/header.html" %}

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  {% include "partials/footer.html" %}

  <script src="{% static 'blog/main.js' %}"></script>
</body>
</html>
