{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ post.title }} — EchoField{% endblock %}

{% block content %}
  <article>
    <h2>{{ post.title }}</h2>
    {% if post.published_at %}
      <time>{{ post.published_at|date:"d.m.Y H:i" }}</time>
    {% endif %}
    <div>{{ post.content_html|safe }}</div>
  </article>
  {% if post.featured_image %}
    <div class="post-image-container">
      <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="post-image" loading="lazy">
    </div>
  {% endif %}

  <p><a href="/">&larr; {% translate "Back to posts" %}</a></p>
{% endblock %}
